* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
}

.link {
    transition: .5s;
}

.link:hover {
    color: rgb(87, 87, 255);
    transform: scale(1.3);
}

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    text-align: right;
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none!important;
    }
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}

.abc {
    margin-left: -30px;
}

.nav-menu {
    margin-top: 20px;
}

.menu {
    margin-left: 45%;
    padding: 10px;
}

.menu li {
    padding-bottom: 20px;
    list-style-type: none;
    color: rebeccapurple;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url('../Image/Dark-Background-888.png') top center;
    background-size: cover;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}

.type-cursor {
    opacity: 1;
}

#main {
    margin-left: 300px;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-fluid1 {
    width: 360px;
    height: 500px;
    transition: 1s;
}

.img-fluid1:hover {
    transform: skewX(2deg);
    box-shadow: 0 0 8px 7px gray;
}

.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
    padding-left: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    line-height: 1.2;
    margin-left: 58px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 58px;
    margin-right: 20px;
}

.font-italic {
    font-style: italic!important;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #149ddd;
}

b,
strong {
    font-weight: bolder;
}

.about .content ul li {
    padding-bottom: 10px;
    margin-left: 122px;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background: #f5f8fd;
}

.section-title {
    padding-bottom: 30px;
}

.skills .progress {
    height: 50px;
    display: block;
    background: none;
    margin-left: 100px;
}

.progress {
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    border-radius: .25rem;
}

.skills .progress .skill {
    padding: 10px 10px;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: #dce8f8;
}

.skills .progress-bar {
    height: 10px;
    transition: .9s;
    background-color: #149ddd;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

.section-bg {
    background: #f5f8fd;
}

.portfolio #portfolio-flters {
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
    margin-left: 104px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    color: #272829;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #149ddd;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.contact {
    padding-bottom: 130px;
}

.d-flex {
    display: flex!important;
}

.align-items-stretch {
    align-items: stretch!important;
}

@media (min-width: 992px) {
    .col-lg-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

.contact .info {
    padding: 22px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
}

.contact .info .email p {
    padding-top: 5px;
}

.contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-row>.col,
.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.contact .php-email-form input {
    height: 54px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.text-center {
    text-align: center!important;
}

#footer {
    padding: 15px;
    color: #f4f6fd;
    font-size: 14px;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background: #040b14;
    position: fixed;
    width: 300px;
}

@media (max-width: 1199px) {
    #footer {
        position: static;
        width: auto;
    }
}

#footer .copyright {
    text-align: center;
    z-index: 9999;
}

#footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #eaebf0;
}